In [6]:
import pandas as pd
import numpy as np

In [7]:
temp = pd.read_csv("temperatures.csv")

In [8]:
temp

       Unnamed: 0        date     city        country  avg_temp_c
0               0  2000-01-01  Abidjan  Côte D'Ivoire      27.293
1               1  2000-02-01  Abidjan  Côte D'Ivoire      27.685
2               2  2000-03-01  Abidjan  Côte D'Ivoire      29.061
3               3  2000-04-01  Abidjan  Côte D'Ivoire      28.162
4               4  2000-05-01  Abidjan  Côte D'Ivoire      27.547
...           ...         ...      ...            ...         ...
16495       16495  2013-05-01     Xian          China      18.979
16496       16496  2013-06-01     Xian          China      23.522
16497       16497  2013-07-01     Xian          China      25.251
16498       16498  2013-08-01     Xian          China      24.528
16499       16499  2013-09-01     Xian          China         NaN

[16500 rows x 5 columns]

In [9]:
temp.groupby(["city", "country"])["avg_temp_c"].mean().sort_values()

city              country
Harbin            China            4.858494
Saint Petersburg  Russia           5.393384
Moscow            Russia           5.721768
Montreal          Canada           6.044248
Changchun         China            6.135604
                                    ...
Bangkok           Thailand        27.929518
Mogadishu         Somalia         27.963183
Jiddah            Saudi Arabia    28.672720
Madras            India           29.198988
Umm Durman        Sudan           29.981780
Name: avg_temp_c, Length: 100, dtype: float64

In [12]:
temp.groupby(["city", "country"])["avg_temp_c", ].mean().reset_index().sort_values(by=["avg_temp_c", "country", "city"])

                city       country  avg_temp_c
34            Harbin         China    4.858494
79  Saint Petersburg        Russia    5.393384
65            Moscow        Russia    5.721768
64          Montreal        Canada    6.044248
19         Changchun         China    6.135604
..               ...           ...         ...
8            Bangkok      Thailand   27.929518
63         Mogadishu       Somalia   27.963183
42            Jiddah  Saudi Arabia   28.672720
57            Madras         India   29.198988
97        Umm Durman         Sudan   29.981780

[100 rows x 3 columns]

In [ ]:
temp["avg_temp_k"] = temp["avg_temp_c"] + 273.15

temp